
h1{
	background-color: #0473AF;
	font-size: 2.5em;
	color:white;
	text-align: center;
	padding: 15px;
}
h2{
	color:white;
	background-color: #2B9BD7 ;
	font-size: 2em;
}
img{
	height: 300px;
	width: 300px;
}
.container{
	/*border: 2px solid red;*/
}
.right{
	/*background: pink;
	border: 1px solid red;*/
}
.left{
	/*background: orange;
	border: 2px solid red;*/
}
.price{
	color:skyblue;
}
.footer{
	background-color: #2B9BD7 ;
	color:white;
	text-align: center;
}

